// ===================> COLORS

$primary-orange: #f59429;
$primary-yellow: #f8ba32;
$accet-color: #3c2133;
$white-color: #ffffff;
$black-color: #000;
$background-color :#F6F4F5 
// ===================> COLORS
